<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} — {{ dates }} - {{ tagline }} — brought to you by IBM Research</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="./../style/qiskit-camp.css">
  <style>
    header {
      background-image: url('../img/{{ background }}-bg-hi-res.jpg'),
                        url('../img/{{ background }}-bg-low-res.jpg');
    }
    {{{ custom-css }}}
  </style>
</head>
<body>
  <section class="ibm-research">
    <a href="https://qiskit.org" class="text-logo" target="_blank" rel="noopener"><img class="logo" alt="Qiskit logo" src="https://qiskit.camp/img/qiskit-logo.png">&nbsp;Qiskit</a>
  </section>
  <nav>
    <div class="convertible-menu">
      <input class="hamburger" type="checkbox" />
      <span class="hamburger"></span>
      <span class="hamburger"></span>
      <span class="hamburger"></span>
      <ul>
        {{#each nav}}
        <li><a href="./{{ go-to }}">{{ text }}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  <header class="madrid19">
    <section class="headlines">
      <h1>{{ title }}</h1>
      <p>{{ tagline }}</p>
      <p>{{ dates }}<br/>{{ venue }}</p>
    </section>
    <section class="scroll-down">
      <div class="icon-scroll"></div>
      <p>Scroll-down for further info</p>
    </section>
  </header>
  <main>
    {{{ contents }}}
  </main>
  <footer>
    <p>Copyright IBM Corp. 2018-2019</p>
  </footer>
</body>
</html>
